body {
    font-family: Arial;
    background: #f4f4f4;
}

.container {
    width: 300px;
    margin: 100px auto;
    background: white;
    padding: 20px;
    border-radius: 6px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background: #4a154b;
    color: white;
    border: none;
    cursor: pointer;
}

#error {
    color: red;
}
